body {
  scroll-behavior: smooth;
}

.hero {
  background: url('back.jpeg') no-repeat center center;
  background-size: cover;
  height: 60vh;
}

.form-box {
  transition: transform 0.2s;
}

.form-box:hover {
  transform: translateY(-5px);
}

