body {
  scroll-behavior: smooth;
}

.hero {
  background: url('back.jpeg') no-repeat center center;
  background-size: cover;
  height: 60vh;
}

.form-box {
  transition: transform 0.2s;
}

.form-box:hover {
  transform: translateY(-5px);
}
#detailsBtn1 {
    /* 設定背景顏色 */
    background-color: #F7CAC9; 
    
    /* 設定文字顏色 */
    color: white; 
    
    /* 移除或修改邊框 */
    border: 1px solid #F7CAC9;
}
#detailsBtn2 {
    /* 設定背景顏色 */
    background-color:#92A8D1; 
    
    /* 設定文字顏色 */
    color: white; 
    
    /* 移除或修改邊框 */
    border: 1px solid #92A8D1;
}
#detailsBtn3 {
    /* 設定背景顏色 */
    background-color: #F7CAC9; 
    
    /* 設定文字顏色 */
    color: white; 
    
    /* 移除或修改邊框 */
    border: 1px solid #F7CAC9;
}
